@font-face {
    font-family: 'pixelFont';
	src: 
		local('Pixel Font'),
		local('Pixel-Font'),
		url('../fonts/04B_30__.TTF') 
		format('truetype')
}

#buttons {
    margin-top: 400px;
}

a {
    text-decoration: none;
    color: white;
}

.btn h2:hover {
    color: purple;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    margin: 20px;
}